<h1>Cornerstonian Blog</h1>
<%=link_to 'New Post', new_post_path %>

<ul>
  <% @posts.each do |post| %>
  <li><%= link_to post.name, post_path(id: post.id) %></li>
  <h2><%= post.body %> </h2>
  <%end%>
</ul>
